{
    "presets": [
        "es2016",
        [
            "env",
            {
                "targets": {
                    "node": "current"
                },
                "exclude": [
                    "babel-plugin-transform-es2015-classes"
                ]
            }
        ],
        "stage-1"
    ]
}